/* Error: Undefined mixin.
 *   ,
 * 7 | /   @include vista_sm ('medium') {
 * 8 | |     width: 100%;
 * 9 | \   }
 *   '
 *   abstracts\_mixins.scss 7:3  @import
 *   main.scss 7:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 7 \2502  \250c    @include vista_sm ('medium') {\a 8 \2502  \2502      width: 100%;\a 9 \2502  \2514    }\a   \2575 \a   abstracts\\_mixins.scss 7:3  @import\a   main.scss 7:9               root stylesheet";
}
