@import '../abstracts/variables';
@import '../abstracts/mixins';

header {
    width: 100%;
    padding: 10px;
    @include style_borde;
    background-color: $color_gris;

}
    // @include small{
    //     width: 100%;
    // }
nav {
    display: inline-block;
    width: 88%;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: $color_blanco;
}

.buscador-menu {
    border-radius: 40px;
    padding: 5px;
}
